body{
	margin: 0px;
}

.head {
	width: 100%;
	height: 100%;
}

#bg-img{
	width: 100%;
	height: 100%;
	display: block;
}

.text-container{
	position: absolute;
	top: 284px;
	width: 100%;
	text-align: center;
}

.head-text{
	display: inline-block;
	z-index: 10;
	top: 0px;
	color: white;
	font-family: 'Segoe UI Light', Colibri, sans-serif;
	background-color: rgba(71,82,89,0.85); 
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-bottom: 7px;
	line-height: 32px;
}

.header{
	position: absolute;
	z-index: 10;
	top: 0px;
	width: 100%;
	height: 107px;
	background-color: rgba(71,82,89,0.85); 
	margin: 0px; /* половина ширины блока, который центрируем */
}

.container{
	width: 832px;
	margin: 0px auto;
}

.logo{
	color: white;
	font-size: 17px;
	font-family: 'Segoe UI Bold', Colibri, sans-serif;
	margin-top: 45px;
	float: left;
}

#e-color{
	color: #4bcaff;
	display: inline;
}

.menu{
	float: right;
	margin-top: 41px;
}

ul{
	margin: 0px;
	padding: 0px;
}

.menu-item{
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
	font-family: 'Segoe UI Bold', Colibri, sans-serif;
    margin-left: 3px;
}

.menu-item a{
	display: block;
	border: 2px solid transparent;
	padding: 5px 10px;
}

a{
	text-decoration: none;
}

.menu-item:hover a{
	border: 2px solid #4bcaff;	
	color: #4bcaff;	
	transition: color .3s ease-in-out, border .3s ease-in-out;
}

.services{
	background-color: #4bcaff;
	width: 100%;
	height: 255px;	
}


.head-section{
	font-family: 'Segoe UI Light', Colibri, sans-serif;
	margin-top: 45px;
	float: left;
	font-size: 17px;
}

.color-white{
	color: white;
}

.underline{
	border-bottom: 1.9px solid;
	display: inline;
}

#small-sections{ 
	width: 832px;
	position: absolute;
    margin-left: -9px;
}
.img{
	height: 30px;
}

.small-section{
	display: inline-block;
	padding-top: 96px;
	padding-left: 10px;
	width: 195px;
}

.head-small-section{
	color: white;
	font-family: 'Segoe UI Light', Colibri, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	margin: 5px 0px;
}

.section-info{
	color: white;
	font-family: 'Segoe UI Light', Colibri, sans-serif;
	font-size: 9px;
	font-weight: 400;
	margin: 0px;
}

.color-grey{
	color: #515f67;
}

#head-portfolio{
	margin-top: 5px;
}

.portfolio{
	background-color: white;
	width: 100%;
	height: 560px;	
}

.photos{
	position: absolute;
	width:832px;
}

.photo{
	display: inline-block;
    width: 183px;
    height: 183px;
    background-color: DarkGrey;
	margin-right: 25px;
	position: relative;

}

.img-portfolio{
	width: 183px;
    height: 183px;

}

.plus{  
	display: inline-block;
    width: 183px;
    height: 110px;
    position: absolute;
    z-index: 10;
    top: 0px;
    font-family: Colibri;
    color: white;
    font-size: 42px;
    text-align: center;
    background-color: #3c454c;
    opacity: 0;
    padding-top: 73px;
	transition: opacity .3s ease-in-out;
}

.photo:hover .plus{
	filter: alpha (Opacity=80);/* прозрачность для IE */
    opacity: 0.80;/* прозрачность для других браузеров */
}

.first-row{
	 margin-top: 40px;
	 height: 183px;
}

.photo:last-child{
	 margin-right: 0px;
}

.second-row{
	 margin-top: 25px;
	 height: 183px;

}

.clearfix:before, .clearfix:after { 
	display: table; 
	content: " ";
 } 

.clearfix:after { 
	clear: both; 
}

.video{
	background-color: #515f67;
	width: 100%;
	height: 365px;
}

.video-text{
	display: block;
    margin-right: 70px;
    padding-top: 76px;
    float: left;
    width: 350px;
    color: white;
    font-family: 'Segoe UI Light', Colibri, sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
}

.video-text p{
	margin-bottom: 29px;
}

.video-block{
	display: inline-block;
    padding-top: 50px;
    margin-left: 250px;
}

.button{
	color:#353f46;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Segoe UI Bold', Colibri, sans-serif;
	border: 2px solid #353f46;
	padding: 6px 25px;
}

.button:hover{
	color: #4bcaff;	
	border: 2px solid #4bcaff;	
	transition: border .3s ease-in-out;
	transition: color .2s ease-in-out;
}

.twitter{
	background-color: #4bcaff;
	width: 100%;
	height: 188px;
}

.twitter-text, .quote{
	color: white;
    font-family: 'Segoe UI Light', Colibri, sans-serif;
    font-size: 17px;
    margin-top: 17px;
}

.twitter-text:nth-child(3){
	margin-top: 118px;
}

.bird, .quotes{
	height: 12px;
    display: inline-block;
    position: relative;
    margin-top: 51px;
    float: right;
    margin-right: 11px;
}

#who-img{
	width: 100%;
	display: block;
}


.whoiswho, .form, .footer-info{
	position: relative;
}

.who-info, .form-info{ 
	width: 100%;
	position: absolute;
	top: 0px;
}

.who-text{
	display: inline-block;
    float: left;
    width: 391px;
    color: white;
    font-family: 'Segoe UI Light', Colibri, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 23px;
    margin-bottom: 0px;
	margin-right: 0px;
}
.who-text:nth-child(2n){
	margin-left: 25px;
}
.who-icons{
	margin-top: 7px;
    border: 1px solid white;
    margin-right: 14px;
    padding: 15px;
    width: 15px;
    height: 15px;
}

.who-icons:hover{
	border: 1px solid #4bcaff;	
	transition: border .3s ease-in-out;
}

.testimonials{
	background-color: white;
	width: 100%;
	height: 220px;
}

.quote{
	color: #515f67;
}

.quote:nth-child(3){
	margin-top: 118px;
}

.quote:nth-child(6){
	color: #4bcaff;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Segoe UI Bold', Colibri, sans-serif;
}

.form-img{
	width: 100%;
	display: block;
}

.about-sender{
	float: left;
}

.label-style{
	display: block;
	margin-top: 25px;
	margin-bottom: 5px;
	color: white;
    font-size: 9px;
    font-weight: 600;
    font-family: 'Segoe UI Bold', Colibri, sans-serif;
}

.box-style{
    background: transparent;
	border: 1px solid white;	
	width: 322px;
    height: 38px;
	color: white;
	padding: 0px 5px;
}

.box-style:focus{
	outline: none;
	border-color: #4bcaff;	
	transition: border-color .3s ease-in-out;
}

.form-txt{
	float: right;
    width: 430px;
    color: white;
    font-family: 'Segoe UI Light', Colibri, sans-serif;
    font-size: 11px;
    margin-top: 25px;
}

#info-line{
	line-height: 18px;  
}

.message-box{
	width: 100%;
    box-sizing: border-box;
    resize: none;
    height: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.message-button{
	color: white;
    font-size: 9px;
    font-weight: 600;
    font-family: 'Segoe UI Bold', Colibri, sans-serif;
	background-color: #4bcaff;
	border: none;
	margin-top: 25px;
    width: 267px;
    height: 38px;
	cursor: pointer;
	transition: color .3s ease-in-out, border .2s ease-in-out, border .2s ease-in-out;

}

.message-button:hover{
    background: transparent;	
	color: #4bcaff;
	border: 1px solid #4bcaff;	
}

.footer-info{
	background-color: #353f47;
	width: 100%;
    height: 100px;
}

.menu-item-footer{
	color: #515f67;
	margin-top: 45px;
    font-weight: bold;
    margin-right: 12px;
    font-size: 10px;
    display: inline-block;
	float: left;
    font-family: 'Segoe UI Bold', Colibri, sans-serif;
}

.color-custom{
	color: #515f67;
}

.menu-item-footer:hover a{
	color: #4bcaff;
	transition: color .3s ease-in-out;
}

.menu-ul{
	width: 100%;
}
.menu-ul :last-child{
    float: right;
	margin-right: 0;
}

